{% extends "templates/nba_tweets/base.html" %}


<!--this is to actually display the data -->
{% block content %}
    {{content}}





{% endblock content %}


<!-- this is for the javascript part dealing with ajax -->
{% block javascript %}
<script>
    $.ajax({
        type: 'GET',
        url: "get/tweets",
        success: function (response) {
            console.log(response);
        },
        error: function (response) {
            console.log(response)
        }
    })
</script>
{% endblock javascript %}